*{
    margin: 0;
    padding: 0;
}

#heading{
    background-color: black;
    line-height: 5rem;
    color: white;
    text-align: center;
    font-size: 2rem;
    
}
#choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 4rem;
}
.choice{
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 50%;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    transform: rotate(-90deg);
     

}

.choice:hover{
    opacity: 0.5;
    transform: scale(1.1)
}

#score-board{
    display: flex;
    padding: 1rem;
    width: 300px;
    gap: 4rem;
    justify-content: center;
    justify-self: center;
    background-color: rgb(159, 159, 216, 0.5);
    border-radius: 1rem;
}

.score{
    font-size: 2rem;
    text-align: center;
}
#user, #computer {
    font-size: 4rem;
}

#who-wins{
    display: flex;
    justify-content: center;
    margin: 4rem;
    
    
}
#msg{
    font-size: 2rem;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 1rem  2rem;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.animate {
    animation: pop 0.4s ease;
}

@keyframes pop {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

#reset {
    margin: 2rem auto;
    padding: 0.7rem 2rem;
    display: block;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: #111;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#reset:hover {
    background-color: #4caf50;
    box-shadow: 0 0 20px #4caf50;
    transform: scale(1.08);
}